<div class="container">
  <div class="btns">
    <button *ngIf="showInstallButton" (click)="installPWA()">
      Install App
    </button>
    <button *ngIf="!credentialId" type="button" (click)="authenticate()">
      Authenticate
    </button>
    <button *ngIf="credentialId" type="button" (click)="verify()">
      Verify
    </button>
  </div>
  <br />
  <h3 *ngIf="isAuthenticating">Authenticating...</h3>
  <h3 *ngIf="result && !isAuthenticating" class="success">
    Authentication Success
  </h3>
</div>
